<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="w-50 p-5 border border-secondary text-center">
    <h2>Welcome to Login</h2>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" />
    <br /><br />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" />
    <br /><br />
    <!-- <button class="btn btn-primary" routerLink="/attribute-directives">
      Login
    </button> -->
    <button class="btn btn-primary" (click)="loginData()">Login</button>
  </div>
</div>
